fastapi
uvicorn
opencv-python
tensorflow
numpy
pillow
python-multipart

# fastapi==0.133.0
# uvicorn==0.41.0
# opencv-python-headless==4.10.0.84
# tensorflow-cpu==2.15.0
# numpy==1.26.4
# pillow==10.4.0
# python-multipart==0.0.9